:host {
    background: #16322C;
    padding: 10px;
    position: fixed;
    width: 100%;
    gap: 43px;
    justify-content: flex-end;
  }



  .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 40px;
    width: 50px;
    overflow: hidden;
  }
  .image-logo{
    margin-top: -8px;
    margin-right: 1100px;
  }
  