<div fxLayout="row" fxLayoutAlign="flex-end" class="menubar" style="padding-left:70px; gap: 20px;">
  <div class="image-logo">
    <img src="assets/logo.png">
  </div>
  
  <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/home/employeelist">Employee List</button>
    <button mat-menu-item> <a style="    width: 346px;height: 27px; margin-top: -29px;" routerLink="/account-settings">
      <mat-icon (click)="openDialog('300ms', '1500ms')" (mouseenter)="openDialog('0ms', '0ms')"
        onmouseleave="closeDialog()">account_circle</mat-icon>
      {{name}}
    </a>
  </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="afterMenu">
     <mat-icon>account_circle</mat-icon>Profile</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item> <a style="    width: 346px;height: 27px; margin-top: -29px;" routerLink="/account-settings">
      <mat-icon (click)="openDialog('300ms', '1500ms')" (mouseenter)="openDialog('0ms', '0ms')"
        onmouseleave="closeDialog()">account_circle</mat-icon>
      {{name}}
    </a>
  </button>
  </mat-menu>
</div>