mat-drawer-content {
    padding: 30px;
}

.userLoging{
  
        display: flex;
        align-items: center !important;
        justify-content: center;
        /* width: 358px; */
        height: 540px;
}
