<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>User Login</mat-card-title>
    </mat-card-header>
<br>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" style="width: 350px;">
              <input class="text_box" matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width" style="width: 350px;">
            <input class="text_box" matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required
            (keyup)="handleKeyUp($event)" >
          </mat-form-field></td>
        </tr></table>
      </form>
     

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  (click)="login()" color="primary">Login</button> &nbsp;&nbsp;
      <a routerLink="register" routerLinkActive="active" color="primary" ariaCurrentWhenActive="page">Regiter Here!</a>
    </mat-card-actions>
  </mat-card>
</div>