<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="exampleModal" (click)="addUser()">
    Add User
</button>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <!-- <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>close
                </button> -->
            </div>
            <div class="modal-body">
                <app-add-edit-user [emp]="emp" *ngIf="EnableAddEditUser"></app-add-edit-user>
            </div>
        </div>
    </div>
</div>
<div *ngIf="table; else yell">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Employee Id</td>
                <td>Name</td>
                <td>Date of Birth</td>
                <td>Emai Id</td>
                <td>Country</td>
                <td>Contact</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of UserList">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.dob}}</td>
                <td>{{item.emailId}}</td>
                <td>{{item.country}}</td>
                <td>{{item.mobileNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #yell>
    <h3 class="bg bg-warning"> Data Not Found</h3>
</ng-template>